{{template "header.html"}}
            <form class="row g-3" action="/student/{{.ID}}/update" method="post">
                
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" value="{{.Name}}">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" value="{{.Email}}">
                </div>
                <div class="col-md-6">
                    <label for="roll" class="form-label">Roll</label>
                    <input type="number" class="form-control" name="roll" value="{{.Roll}}">
                </div>
                <div class="col-md-6">
                    <label for="eng" class="form-label">English</label>
                    <input type="number" class="form-control" name="eng" value="{{.English}}">
                </div>
                <div class="col-md-6">
                    <label for="ban" class="form-label">Bangla</label>
                    <input type="number" class="form-control" name="ban" value="{{.Bangla}}">
                </div>
                <div class="col-md-6">
                    <label for="math" class="form-label">Mathematics</label>
                    <input type="number" class="form-control" name="math" value="{{.Mathematics}}">
                </div>
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <p style="color: rgb(255, 0, 0);">{{ .NameError }}</p>
            </form>
{{template "footer.html"}}        